<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
    <title>STOCK MARKET API</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">StockMarket</a>
            <form class="d-flex" action="logout" method="POST">
                <input class="form-control me-2" type="hidden" placeholder="USERNAME" aria-label="Search" name="username">
                <button class="btn btn-danger" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ user }} PAGE</h1>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <h3>Meus ativos</h3>
            <div style="border-style: solid; border-radius: 10px; padding: 2%;">
                <form action="/addshare" method="POST">
                    <input type="text" name="ticker" placeholder="TICKER" autofocus>
                    <input type="text" name="broker" placeholder="CORRETORA">
                    <input type="numeric" name="purchase_val" placeholder="PREÇO">
                    <input type="numeric" name="quant" placeholder="QUANTIDADE">
                    <input type="date" name="purchase_dt">
                    <button class="btn btn-warning" type="submit">INSERIR</button>
                </form>
            </div>
            <div style="border-style: solid; border-radius: 10px;">
                <table>
                    <tr>
                    <th>Ticker</th>
                    <th>Valor Médio</th>
                    <th>Valor Atual</th>
                    <th>Rendimento</th>
                    </tr>
                    {% for k in myShares %}
                        <tr>
                        <td>{{ k }}</td>
                        <td>{{ myShares[k]['average_val'] }}</td>
                        <td>{{ myShares[k]['actual_val'] }}</td>
                        <td>{{ myShares[k]['yield'] }}%</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="col">
            <h3>Opções</h3>
            <form action="">
                <label for="">Teste</label>
                <input type="text">
                
            </form>
            <figure class="img-fluid mx-auto">
                {{ figure[0]|safe }}
             </figure>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>